.body-container {
  background-color: #212A3E;
}

.home_image {
  height: 650px;
  width: 100%;
}

.carousel-caption {
  font-weight: bold;
}

@media (max-width: 960px) {
  .home_image {
    height: 500px;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .home_image {
    height: 380px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .home_image {
    height: 250px;
    width: 100%;
  }
}

